@model DessertTaCeinture.WEB.Models.News.NewsModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page">
    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="height:300px;" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <div class="row row-mt-15em">
                        <div style="margin-top:-75px;">
                            <span class="intro-text-small">Restez informé ...</span>
                            <div class="mt-text animate-box" data-animate-effect="fadeInUp" style="margin-top:-25px;">
                                <h1 class="cursive-font primary-color">@Model.Title</h1>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="gtco-section">
        <div class="gtco-container" style="margin-top: -50px;">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <img src="@Model.ImageUrl" alt="Image" style="height: 350px; width: 350px;" />                    
                    <hr />
                    <small>@Model.ReleaseDate.ToString("dd/MM/yyyy")</small>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
    </div>
</div>