
@{
    ViewBag.Title = "Recettes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.Title</title>

<div class="gtco-loader"></div>
<div id="page">
    <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(../../Content/images/backgrounds/4249962.jpg)" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-left">
                    <div class="row row-mt-15em">
                        <span class="intro-text-small">Que puis-je faire avec ce que j'ai ?</span>
                        <div class="col-md-7 animate-box" data-animate-effect="fadeInUp">
                            <div class="form-wrap">
                                <div class="tab">
                                    <div class="tab-content">
                                        <div class="tab-content-inner active" data-content="signup">
                                            <h3 class="cursive-font">Trouver une recette</h3>
                                            <form action="#">
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <label for="date-start">Intitulé</label>
                                                        <input type="text" id="nameRecipe" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <label for="date-start">Avec</label>
                                                        <input type="text" id="mainIngredient" class="form-control" placeholder="Ingrédient">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <label for="date-start">Sans</label>
                                                        <input type="text" id="withoutIngredient" class="form-control" placeholder="Ingrédient">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <input type="submit" class="btn btn-primary btn-block" value="Rechercher">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                            <div class="form-wrap">
                                <div class="tab">
                                    <div class="tab-content">
                                        <div class="tab-content-inner active" data-content="signup">
                                            <h3 class="cursive-font">Trouver une recette</h3>
                                            <form action="#">
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <label for="date-start">Intitulé</label>
                                                        <input type="text" id="nameRecipe" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <label for="date-start">Avec</label>
                                                        <input type="text" id="mainIngredient" class="form-control" placeholder="Ingrédient">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <label for="date-start">Sans</label>
                                                        <input type="text" id="withoutIngredient" class="form-control" placeholder="Ingrédient">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <input type="submit" class="btn btn-primary btn-block" value="Rechercher">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="gtco-section">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2 class="cursive-font primary-color">Dernières douceurs</h2>
                </div>
            </div>
            <div class="row">
                @for (int i = 1; i <= 6; i++)
                {
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="#" class="fh5co-card-item">
                            <figure>
                                <img src="~/Content/images/pictures/img_1.jpg" alt="Image" class="img-responsive">
                            </figure>
                            <div class="fh5co-text">
                                <h2>Titre</h2>
                                <p>Par - Autheur -</p>
                                <p>Date d'ajout</p>
                                <p><span class="price cursive-font">Voir</span></p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

