/.vs/config/applicationhost.config
/.vs/DessertTaCeinture.WEB/v15/.suo
/.vs/DessertTaCeinture.WEB/v15/Server/sqlite3/db.lock
/.vs/DessertTaCeinture.WEB/v15/Server/sqlite3/storage.ide
/.vs/DessertTaCeinture.WEB/v15/Server/sqlite3/storage.ide-shm
/.vs/DessertTaCeinture.WEB/v15/Server/sqlite3/storage.ide-wal
