@model List<DessertTaCeinture.WEB.Models.Recipe.RecipeModel>

@if (Model != null)
{
<div class="row">
    <div class="col-md-12 animate-box">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="@Url.Action("Details","Recipe", new { id = item.Id })" class="fh5co-card-item">
                    <figure>
                        <img src="@item.Picture" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2>@item.Title</h2>
                        <p>@item.CreationDate.ToShortDateString()</p>
                        <p><span class="price cursive-font">Voir ...</span></p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
}
else
{
    <div class="row" style="margin-top:50px;">
        <div class="col-md-12 animate-box">
            <h3 class="cursive-font text-center">Aucun résultat à afficher !</h3>
        </div>
    </div>
}
