<div id="page">
    <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-left">
                    <div class="row row-mt-15em">
                        <div class="form-wrap">
                            <div class="tab">
                                <div class="tab-content">
                                    <div class="tab-content-inner active" data-content="signup">
                                        <div class="row form-horizontal animate-box">
                                            <p class="text-center">Aucun résultat à afficher.</p>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    <p class="text-center">@Html.ActionLink("Revenir à l'accueil", "Index", "Home")</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

