@model DessertTaCeinture.WEB.Models.Rate.RateModel


<div class="col-md-12">
    <div class="col-md-1">
        <img src="~/Content/images/keys/isactive.png" />
    </div>
    <div class="col-md-8">
        <h3 class="cursive-font">Avis enregistré le : <small>@Model.Date.ToString("dd/MM/yyyy")</small></h3>
    </div>    
    <div class="col-md-3">
        @Html.ActionLink("Voir", "RateDetails", "User", new { id = Model.Id }, new { @class = "btn btn-primary btn-block" })
    </div>
</div>
@*<div class="col-md-6">
    @for (int i = 1; i < 6; i++)
    {
        <img src="@(i <= Model.RateOnFive ? "/Content/Images/recipes/star2.gif" : "/Content/Images/recipes/star1.gif")" id="rate_@i" height="25" width="25" />
    }        
</div>*@


