<div class="form-horizontal">
    <h3 class="cursive-font">Ingrédients</h3>
    <hr />
    <div class="row" id="RecipeIngredientsSection">
    </div>

    <div class="col-md-8 col-md-offset-4">
        <div class="col-md-3">
            <input id="addIngredient" type="button" class="btn btn-primary-invert btn-block" onclick="AddRow('ingredient')" value="+" />
        </div>
        <div class="col-md-3">
            <input id="delIngredient" type="button" class="btn btn-primary-invert btn-block" onclick="DelRow('ingredient')" value="-" />
        </div>
    </div>
    <br />
    <br />
</div>
