<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
    <div class="form-wrap">
        <div class="tab">
            <div class="tab-content">
                <div class="tab-content-inner active">
                    <h3 class="cursive-font">Spécial allergies :</h3>
                    <form action="#">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="text" id="without-ingredient1" class="form-control" placeholder="Sans">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="text" id="without-ingredient2" class="form-control" placeholder="Sans">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="text" id="without-ingredient3" class="form-control" placeholder="Sans">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="text" id="without-ingredient4" class="form-control" placeholder="Sans">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary btn-block" value="Rechercher">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>