<div class="form-horizontal">
    <h3 class="cursive-font">Etapes</h3>
    <hr />
    <div class="row" id="RecipeStepsSection">
    </div>
    <br />
    <div class="col-md-8 col-md-offset-2">
        <div class="col-md-6">
            <input id="addStep" type="button" class="btn btn-primary-invert btn-block" onclick="AddRow('step')" value="Ajouter une étape" />
        </div>
        <div class="col-md-6">
            <input id="delStep" type="button" class="btn btn-primary-invert btn-block" onclick="DelRow('step')" value="Supprimer la dernière étape" />
        </div>
    </div>
    <br />
    <br />
    <hr />
</div>
