<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="form-wrap">
        <div class="tab">
            <div class="tab-content">
                <div class="tab-content-inner active">
                    <h3 class="cursive-font">Que puis-je faire avec ce que j'ai ?</h3>
                    <form action="#">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="text" id="ingredient1" class="form-control" placeholder="Ingrédient 1">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="text" id="ingredient2" class="form-control" placeholder="Ingrédient 2">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="text" id="ingredient3" class="form-control" placeholder="Ingrédient 3">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="text" id="ingredient4" class="form-control" placeholder="Ingrédient 4">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary btn-block" value="Rechercher">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>