@using DessertTaCeinture.WEB.Services

@model DessertTaCeinture.WEB.Models.Recipe.CreateRecipeModel

@{
    int i = ViewBag.Index;

    List<SelectListItem> ingredients = new List<SelectListItem>();
    foreach (var ingredient in Recipe.Instance.GetIngredients()) { ingredients.Add(new SelectListItem { Text = ingredient.Name, Value = ingredient.Id.ToString() }); }

    List<SelectListItem> units = new List<SelectListItem>();
    units.Add(new SelectListItem { Text = "mg", Value = "mg" });
    units.Add(new SelectListItem { Text = "gr", Value = "gr" });
    units.Add(new SelectListItem { Text = "kg", Value = "kg" });
    units.Add(new SelectListItem { Text = "ml", Value = "ml" });
    units.Add(new SelectListItem { Text = "cl", Value = "cl" });
    units.Add(new SelectListItem { Text = "l", Value = "l" });
    units.Add(new SelectListItem { Text = "c-à-c", Value = "c-à-c" });
    units.Add(new SelectListItem { Text = "c-à-s", Value = "c-à-s" });
}

<div class="form-group ingredientRow">
    <div class="col-md-3 col-md-offset-2">
        @Html.DropDownListFor(model => model.RecipeIngredients[i], ingredients, string.Empty, htmlAttributes: new { @class = "form-control", id = i + "-selectedIngredient", name = "RecipeIngredients[" + i + "]" })
    </div>
    <div class="col-md-2">
        <input type="number" name="RecipeIngredients[@i]" class="form-control" min=0 max=9999 onkeypress="return disallowNegativeNumber(event)"/>
    </div>
    <div class="col-md-3">
        @Html.DropDownListFor(model => model.RecipeIngredients[i], units, string.Empty, htmlAttributes: new { @class = "form-control", id = i + "-selectedUnit", name = "RecipeIngredients[" + i + "]" })
    </div>
</div>