@model IEnumerable<DessertTaCeinture.WEB.Models.Theme.ThemeModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Thèmes :</h3>
<p class="pull-right">
    <a href="@Url.Action("Create","Themes")"><img src="~/Content/images/keys/plus.png" /></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href="@Url.Action("Delete","Themes", new { id = item.Id })"><img src="~/Content/images/keys/garbage.png" /></a>
            </td>
        </tr>
    }

</table>
