@model DessertTaCeinture.WEB.Models.Home.IndexViewModel

@{ 
    ViewBag.Title = "Dessert ta ceinture";
}
<div class="gtco-loader"></div>
<div id="page">       
    <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(../../Content/images/backgrounds/Home.jpg)" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-left"  style="margin-top: -75px;">
                    <div class="row row-mt-15em">
                        <div class="col-md-6 mt-text animate-box" data-animate-effect="fadeInUp">
                            <h1 class="cursive-font">Postez, consultez, commentez !</h1>
                        </div>
                        <div class="col-md-6 col-md-push-1 mt-text animate-box" data-animate-effect="fadeInRight">
                            <div class="form-wrap">
                                <div class="tab">
                                    <div class="tab-content">
                                        <div class="tab-content-inner active">
                                            <h3 class="cursive-font">Recherche rapide</h3>
                                            <form action="#">
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <input type="text" id="title" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <input type="submit" class="btn btn-primary btn-block" value="Rechercher">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="gtco-section">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2 class="cursive-font primary-color">Les dernières actualités</h2>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.News)
                {
                    @Html.Partial("_NewsCard", item)
                }
            </div>
        </div>
    </div>
</div>