@model IEnumerable<DessertTaCeinture.WEB.Models.News.NewsModel>

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gtco-loader"></div>
<div id="page">
    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" data-stellar-background-ratio="0.5" style="height:450px;">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <div class="row row-mt-15em">
                        <div style="margin-top:-75px;">
                            <span class="intro-text-small">Restez informé ...</span>
                            <div class="mt-text animate-box" data-animate-effect="fadeInUp" style="margin-top:-25px;">
                                <h1 class="cursive-font primary-color">@ViewBag.Title</h1>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="gtco-section">
        <div class="gtco-container" style="margin-top: -75px;">
            @Html.Partial("_LastNewsList", Model)
        </div>
    </div>
</div>



